<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% seo %}
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
</head>
<body>

    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script type="text/javascript">
        window.onload = function() { 
            Calendly.initBadgeWidget({ 
                url: 'https://calendly.com/duvaldvl/30min', 
                text: 'Je réserve un appel', 
                color: '#009966', 
                textColor: '#ffffff', 
                branding: false 
            }); 
        }
    </script>

</body>
</html>
